
.center {
  text-align: center;
}

h1  {
       text-align:center;
       font-size: 30pt;
       color: #FFFFFF;
       font-family: garamond;
       margin-bottom: 5px;
    }
p { text-align: center;
       font-size: 14pt;
       color:#FFFFFF;
       font-family:courier;
       margin-bottom: 6px;
}

.fullscreenDiv {
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
