

h1  {
       text-align:absolute;
       font-size: 30pt;
       color: #FFFFFF;
       font-family: garamond;
       margin-bottom: 5px;
    }
p { text-align: absolute;
       font-size: 14pt;
       color:#FFFFFF;
       font-family:courier;
       margin-bottom: 6px;
}
