body, html {
  height: 100%;
  margin: 0;
}

p{
       text-align: center;
       font-size: 14pt;
       color: #FFFFF;
       font-family: "Courier New", Courier, monospace;
       margin-bottom: 6px;
}
